<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <filter>
  <display-name>CookieFilter</display-name>
  <filter-name>CookieFilter</filter-name>
  <filter-class>org.wingame.filter.CookieFilter</filter-class>
 </filter>
 <filter>
  <display-name>LoginFilter</display-name>
  <filter-name>LoginFilter</filter-name>
  <filter-class>org.wingame.filter.LoginFilter</filter-class>
 </filter>
 <filter>
  <display-name>UserFilter</display-name>
  <filter-name>UserFilter</filter-name>
  <filter-class>org.wingame.filter.UserFilter</filter-class>
 </filter>
 <filter>
  <display-name>AdminFilter</display-name>
  <filter-name>AdminFilter</filter-name>
  <filter-class>org.wingame.filter.AdminFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>CookieFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/announcement/edit.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/application/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/filemgmt/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/fileupload/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/meeting/edit.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/usermgmt/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/userlogin/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>LoginServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>AnnouncementRemoveServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>ApplicationServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>ChangeMailServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>ChangePasswordServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>AnnouncementServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>FileDeleteServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>FileUploadServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>FileVerifyServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>MeetingRemoveServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>MeetingServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <url-pattern>/fileupload/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <url-pattern>/application/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <servlet-name>ApplicationServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <servlet-name>FileDeleteServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <servlet-name>FileUploadServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/announcement/edit.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/filemgmt/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/meeting/edit.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/usermgmt/deleteuser.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>AnnouncementRemoveServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>AnnouncementServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>FileVerifyServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>MeetingRemoveServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>MeetingServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>UserDeleteServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <servlet-name>ExcelTableServlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <servlet-name>ExcelTableServlet</servlet-name>
 </filter-mapping>
 <listener>
  <listener-class>org.wingame.listener.DatabaseListener</listener-class>
 </listener>
 <servlet>
  <description>LoginServlet</description>
  <display-name>LoginServlet</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>org.wingame.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <description>RegisterServlet</description>
  <display-name>RegisterServlet</display-name>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>org.wingame.servlet.RegisterServlet</servlet-class>
 </servlet>
 <servlet>
  <description>LogoutServlet</description>
  <display-name>LogoutServlet</display-name>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>org.wingame.servlet.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
  <description>ResetPasswordServlet</description>
  <display-name>ResetPasswordServlet</display-name>
  <servlet-name>ResetPasswordServlet</servlet-name>
  <servlet-class>org.wingame.servlet.ResetPasswordServlet</servlet-class>
 </servlet>
 <servlet>
  <description>ChangeMailServlet</description>
  <display-name>ChangeMailServlet</display-name>
  <servlet-name>ChangeMailServlet</servlet-name>
  <servlet-class>org.wingame.servlet.ChangeMailServlet</servlet-class>
 </servlet>
 <servlet>
  <description>ChangePasswordServlet</description>
  <display-name>ChangePasswordServlet</display-name>
  <servlet-name>ChangePasswordServlet</servlet-name>
  <servlet-class>org.wingame.servlet.ChangePasswordServlet</servlet-class>
 </servlet>
 <servlet>
  <description>FileUploadServlet</description>
  <display-name>FileUploadServlet</display-name>
  <servlet-name>FileUploadServlet</servlet-name>
  <servlet-class>org.wingame.servlet.FileUploadServlet</servlet-class>
 </servlet>
 <servlet>
  <description>FileDeleteServlet</description>
  <display-name>FileDeleteServlet</display-name>
  <servlet-name>FileDeleteServlet</servlet-name>
  <servlet-class>org.wingame.servlet.FileDeleteServlet</servlet-class>
 </servlet>
 <servlet>
  <description>AnnouncementRemoveServlet</description>
  <display-name>AnnouncementRemoveServlet</display-name>
  <servlet-name>AnnouncementRemoveServlet</servlet-name>
  <servlet-class>org.wingame.servlet.AnnouncementRemoveServlet</servlet-class>
 </servlet>
 <servlet>
  <description>AnnouncementServlet</description>
  <display-name>AnnouncementServlet</display-name>
  <servlet-name>AnnouncementServlet</servlet-name>
  <servlet-class>org.wingame.servlet.AnnouncementServlet</servlet-class>
 </servlet>
 <servlet>
  <description>MeetingRemoveServlet</description>
  <display-name>MeetingRemoveServlet</display-name>
  <servlet-name>MeetingRemoveServlet</servlet-name>
  <servlet-class>org.wingame.servlet.MeetingRemoveServlet</servlet-class>
 </servlet>
 <servlet>
  <description>MeetingServlet</description>
  <display-name>MeetingServlet</display-name>
  <servlet-name>MeetingServlet</servlet-name>
  <servlet-class>org.wingame.servlet.MeetingServlet</servlet-class>
 </servlet>
 <servlet>
  <description>ApplicationServlet</description>
  <display-name>ApplicationServlet</display-name>
  <servlet-name>ApplicationServlet</servlet-name>
  <servlet-class>org.wingame.servlet.ApplicationServlet</servlet-class>
 </servlet>
 <servlet>
  <description>FileVerifyServlet</description>
  <display-name>FileVerifyServlet</display-name>
  <servlet-name>FileVerifyServlet</servlet-name>
  <servlet-class>org.wingame.servlet.FileVerifyServlet</servlet-class>
 </servlet>
 <servlet>
  <description>UserDeleteServlet</description>
  <display-name>UserDeleteServlet</display-name>
  <servlet-name>UserDeleteServlet</servlet-name>
  <servlet-class>org.wingame.servlet.UserDeleteServlet</servlet-class>
 </servlet>
 <servlet>
  <description>ExcelTableServlet</description>
  <display-name>ExcelTableServlet</display-name>
  <servlet-name>ExcelTableServlet</servlet-name>
  <servlet-class>org.wingame.servlet.ExcelTableServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/userlogin/login.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/userlogin/register.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/usermgmt/logout.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ResetPasswordServlet</servlet-name>
  <url-pattern>/userlogin/resetpass.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangeMailServlet</servlet-name>
  <url-pattern>/usermgmt/changemail.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangePasswordServlet</servlet-name>
  <url-pattern>/usermgmt/changepassword.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileUploadServlet</servlet-name>
  <url-pattern>/fileupload/upload.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileDeleteServlet</servlet-name>
  <url-pattern>/fileupload/delete.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AnnouncementRemoveServlet</servlet-name>
  <url-pattern>/announcement/remove.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AnnouncementServlet</servlet-name>
  <url-pattern>/announcement/announce.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MeetingRemoveServlet</servlet-name>
  <url-pattern>/meeting/removemeeting.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MeetingServlet</servlet-name>
  <url-pattern>/meeting/meeting.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ApplicationServlet</servlet-name>
  <url-pattern>/application/apply.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileVerifyServlet</servlet-name>
  <url-pattern>/filemgmt/verify.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserDeleteServlet</servlet-name>
  <url-pattern>/usermgmt/delete.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExcelTableServlet</servlet-name>
  <url-pattern>/meeting/excelusertable.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/404.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
